@import "tailwindcss";

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --color-brand: #10b981;
  --color-green: #059669;
  --color-red: #be123c;
  --bg-primary: #fafaf9;
  --bg-secondary: #f0fdf4;
  --bg-tertiary: #e7e5e4;
  --bg-highlight: #d6d3d1;
  --text-primary: #1c1917;
  --text-muted: #57534e;
  --outline-primary: #d6d3d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #18181b;
    --bg-secondary: #27272a;
    --bg-tertiary: #131316;
    --bg-highlight: #3f3f46;
    --text-primary: #f4f4f5;
    --text-muted: #a1a1aa;
    --outline-primary: #3f3f46;
  }
}

@theme inline {
  /* Colors */
  --color-brand: var(--color-brand);
  --color-app-bg: var(--bg-primary);
  --color-app-sidebar: var(--bg-secondary);
  --color-app-server: var(--bg-tertiary);
  --color-app-text: var(--text-primary);
  --color-app-muted: var(--text-muted);
  --color-app-hover: var(--bg-highlight);
  --color-app-chatbar: var(--bg-secondary);
  --color-app-outline: var(--outline-primary);
  --color-app-loading: var(--bg-tertiary);

  /* Layout Spacing */
  --spacing-sidebar: 4.5rem;
  --spacing-header: 3rem;
  --spacing-chatbar: 3rem;
  --spacing-server-icon: 3rem;

  /* Messages */
  --size-avatar: 2.5rem; 
  --spacing-message-gutter: 1rem; 
  

  /* Pills */
  --width-pill: 0.3rem;       
  --height-pill-small: 1rem; 
  --height-pill-hover: 1.75rem;
  --height-pill-active: 2.5rem;
  
  --radius-server-icon-expanded: 1rem;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-sans);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}