fullnameOverride: {{ .Values.infra.centrifugo.host }}

config:
{{ readFile (printf "../../%s/config/centrifugo-config.json" .Environment.Name) | fromJson | toYaml | indent 2 }}

service:
  type: NodePort
  port: {{ .Values.infra.centrifugo.port }}
  nodePort: 30810