input:
  label: "kafka_consumer"
  redpanda:
    seed_brokers: 
      - "{{ infra.kafka.client_host | default(infra.kafka.host) }}:{{ infra.kafka.port }}"
    topics: 
      - "chat_messages"
    consumer_group: "dynamodb-sink-group"

pipeline:
  processors:
    - mapping: |
        root = this.without("author_metadata")

output:
  label: "dynamodb_sink"
  aws_dynamodb:
    table: "{{ infra.dynamodb.chat_history_table_name }}"
    endpoint: "http://{{ infra.dynamodb.host }}:{{ infra.dynamodb.port }}"
    region: "{{ infra.aws.region | default('us-east-1') }}"
    credentials:
      id: ${AWS_ACCESS_KEY_ID}
      secret: "${AWS_SECRET_ACCESS_KEY}"
    json_map_columns:
      "": .